[Desktop Entry]
Name[am]=የ ሐይል አስተዳዳሪ 
Name[ar]=مدير الطاقة
Name[as]=Power Manager
Name[ast]=Alministrador d'Enerxía
Name[be]=Кіраўнік сілкавання
Name[bg]=Управление на захранването
Name[bn]=Power Manager
Name[bn_IN]=Power Manager
Name[ca]=Gestor d'energia
Name[ca@valencia]=Gestor d'energia
Name[cmn]=電源管理程式
Name[cs]=Správce napájení
Name[cy]=Rheolwr Pŵer
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[dz]=ནུས་ཤུགས་འཛིན་སྐྱོང་པ།
Name[el]=Διαχείριση ενέργειας
Name[en_AU]=Power Manager
Name[en_CA]=Power Manager
Name[en_GB]=Power Manager
Name[es]=Gestor de energía
Name[et]=Vooluhaldur
Name[eu]=Energia kudeatzailea
Name[fa]=مدیر برق
Name[fi]=Virranhallinta
Name[fr]=Gestionnaire d'énergie
Name[ga]=Bainisteoir Cumhachta
Name[gl]=Xestor de enerxía
Name[gu]=પાવર મેનેજર
Name[he]=מנהל צריכת החשמל
Name[hi]=शक्ति प्रबंधक
Name[hr]=Energetski upravitelj
Name[hu]=Energiakezelő
Name[hy]=Հզորության Կառավարիչ
Name[id]=Manajer Daya
Name[is]=Aflstjóri
Name[it]=Gestore alimentazione
Name[ja]=電源の管理
Name[ka]=ენერგიის მმართველი
Name[kk]=Эл. қорегін басқарушысы
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=전원 관리자
Name[ku]=Gerînendeyê Hêzê
Name[ku_IQ]=بەڕێوەبەری وزە
Name[lt]=Energijos tvarkytuvė
Name[lv]=Barošanas pārvaldnieks
Name[mai]=पावर मैनेजर
Name[mg]=Mpitantana Angovo
Name[mk]=Менаџер на енергија за MATE
Name[ml]=വൈദ്യുതി നടത്തിപ്പുകാരന്‍
Name[mr]=पावर व्यवस्थापन
Name[ms]=Pengurus Kuasa
Name[nb]=Strømstyring
Name[nl]=Energiebeheer
Name[nn]=Straumstyring
Name[or]=ଶକ୍ତି ପରିଚାଳକ
Name[pa]=ਪਾਵਰ ਮੈਨੇਜਰ
Name[pl]=Menedżer zasilania
Name[pt]=Gestor de Energia
Name[pt_BR]=Gerenciador de Energia
Name[ro]=Administrare consum
Name[ru]=Управление питанием
Name[si]=ශක්ති කළමණාකරු
Name[sk]=Správca napájania
Name[sl]=Upravljalnik porabe energije
Name[sq]=Menaxhuesi i  Energjise
Name[sr]=Управник напајања
Name[sr@latin]=Upravnik potrošnjom električne energije
Name[sv]=Strömhanterare
Name[ta]=மின் மேலாளர்
Name[te]=పవర్ నిర్వాహకి
Name[th]=เครื่องมือจัดการการใช้พลังงาน
Name[tr]=Güç Yöneticisi
Name[uk]=Керування живленням
Name[ur]=توانائی منیجر
Name[uz]=Quvvat Boshqaruvchi
Name[vi]=Bộ Quản Lý Điện Năng
Name[zh_CN]=电源管理器
Name[zh_HK]=電源管理程式
Name[zh_TW]=電源管理程式
Name=Power Manager
Comment[am]=የ ሐይል አስተዳዳሪ አዋቂ
Comment[ar]=جني إدارة الطاقة
Comment[as]=বিদ্যুত্‌ পৰিচালনা সম্বন্ধীয় ডেমন
Comment[ast]=Demoniu d'alministración d'enerxía
Comment[be]=Служба кіравання сілкаваннем
Comment[bg]=Демон за управление на захранването
Comment[bn]=বিদ্যুৎ পরিচালনা সম্বন্ধীয় ডেমন
Comment[bn_IN]=বিদ্যুৎ পরিচালনা সম্বন্ধীয় ডেমন
Comment[ca]=Dimoni del gestor d'energia
Comment[ca@valencia]=Dimoni del gestor d'energia
Comment[cmn]=電源管理守護程式
Comment[cs]=Démon správy napájení
Comment[cy]=Ellyll rheoli pŵer
Comment[da]=Strømstyringstjeneste
Comment[de]=Hintergrundprozess der Energieverwaltung
Comment[dz]=ནུས་ཤུགས་འཛིན་སྐྱོངས་པའི་ ཌེ་མཱོན།
Comment[el]=Υπηρεσία διαχείρισης ενέργειας
Comment[en_AU]=Power management daemon
Comment[en_CA]=Power management daemon
Comment[en_GB]=Power management daemon
Comment[es]=Servicio de gestión de energía
Comment[et]=Vooluhaldusdeemon
Comment[eu]=Energia kudeatzeko daemon-a
Comment[fa]=شبح مدیریت برق
Comment[fi]=Virranhallintapalvelin
Comment[fr]=Moniteur du gestionnaire d'énergie
Comment[ga]=Deamhan bainistíochta cumhachta
Comment[gl]=Servizo de xestión de enerxía
Comment[gu]=પાવર મેનેજમેન્ટ ડિમન
Comment[he]=מנוע ניהול צריכת החשמל
Comment[hi]=शक्ति प्रबंघक डेमॉन
Comment[hr]=Pozadinski program energetskog upravljanja
Comment[hu]=Energiagazdálkodási démon
Comment[hy]=Հզորության կառավարման օժանդակ ծրագիր
Comment[id]=Daemon manajemen daya
Comment[is]=Aflstjórnunarpúki
Comment[it]=Demone di gestione dell'alimentazione
Comment[ja]=電源管理のデーモンを起動します
Comment[ka]=ენერგიის მმართველის დემონი
Comment[kk]=Эл. қорегін басқару қызметі
Comment[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪಕ ಡೀಮನ್
Comment[ko]=전원 관리 데몬
Comment[ku]=Gerînendeyê hêzê yê veşartî
Comment[lt]=Energijos valdymo tarnyba
Comment[lv]=Barošanas pārvaldnieka dēmons
Comment[mai]=पावर मैनेजर डेमॉन
Comment[mg]=Daemon'ny fitantanana angovo
Comment[mk]=Демон за менаџмент на енергија
Comment[ml]=വൈദ്യുതി നടത്തിപ്പിനുള്ള നിരന്തരപ്രക്രിയ
Comment[mr]=पावर व्यवस्थापन डीमन
Comment[ms]=Daemon pengurusan kuasa
Comment[nb]=Tjeneste for strømstyring
Comment[nl]=Energiebeheer-achtergronddienst
Comment[nn]=Straumstyringsnisse
Comment[or]=ଶକ୍ତି ପରିଚାଳନା ଡେମନ
Comment[pa]=ਪਾਵਰ ਮੈਨੇਜ਼ਮੈਂਟ ਡੈਮਨ
Comment[pl]=Usługa menedżera zasilania
Comment[pt]=Servidor de gestão de energia
Comment[pt_BR]=Monitor de gerenciamento de energia
Comment[ro]=Serviciu de administrare consum
Comment[ru]=Служба управления питанием
Comment[si]=ශක්ති කළමණාකරු විබුද්ධකයා
Comment[sk]=Démon správy napájania
Comment[sl]=Ozadnji program za upravljanje porabe energije
Comment[sq]=Power management daemon
Comment[sr]=Услужник управљања напајањем
Comment[sr@latin]=Pozadinski proces za upravljanje potrošnjom
Comment[sv]=Strömhanteringsdemon
Comment[ta]=மின் மேலாளர் டீமான்
Comment[te]=పవర్ నిర్వాహకి డెమోన్
Comment[th]=ดีมอนจัดการการใช้พลังงาน
Comment[tr]=Güç yönetimi servisi
Comment[uk]=Служба керування живленням
Comment[ur]=توانائی ادارت ڈیمن
Comment[vi]=Trình nền quản lý điện năng
Comment[zh_CN]=电源管理守护程序
Comment[zh_HK]=電源管理伺服程式
Comment[zh_TW]=電源管理守護程式
Comment=Power management daemon
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=mate-power-manager
Icon[cs]=mate-power-manager
Icon[da]=mate-power-manager
Icon[es]=mate-power-manager
Icon[fr]=mate-power-manager
Icon[gl]=mate-power-manager
Icon[id]=mate-power-manager
Icon[it]=mate-power-manager
Icon[lt]=mate-power-manager
Icon[ms]=mate-power-manager
Icon[nb]=mate-power-manager
Icon[nl]=mate-power-manager
Icon[pl]=mate-power-manager
Icon[uk]=mate-power-manager
Icon[zh_TW]=mate-power-manager
Icon=mate-power-manager
Exec=mate-power-manager
Terminal=false
Type=Application
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-power-manager
X-MATE-Bugzilla-Component=mate-power-manager
X-MATE-Bugzilla-Version=1.24.1
#X-MATE-AutoRestart=true

X-MATE-Autostart-enabled=false
