[Desktop Entry]
Name=Personal File Sharing webdav
Comment=Launch Personal File Sharing if enabled
Comment[ar]=شغّل مشاركة الملفات الشخصية إذا كانت مفعلة
Comment[as]=সক্ৰিয় থাকিলে, User Sharing আৰম্ভ কৰা হ'ব
Comment[ast]=Llanzar la compartición de ficheros personales si tán activaes
Comment[bg]=Стартиране на споделянето на файлове, ако е позволено
Comment[bn]=সক্রিয় করা থাকলে, ব্যক্তিগতভাবে শেয়ারকৃত ফাইল চালু করা হবে
Comment[bn_IN]=সক্রিয় থাকলে, ব্যক্তিগত ফাইলের যৌথ ব্যবহার আরম্ভ করা হবে
Comment[br]=Loc'hañ ar rannadur restroù personel mar bez gweredekaet
Comment[ca]=Executa la compartició de fitxers personals si està habilitat
Comment[ca@valencia]=Executa la compartició de fitxers personals si està habilitat
Comment[cmn]=若啟用則執行個人檔案分享
Comment[cs]=Je-li povoleno, spustit Sdílení osobních souborů
Comment[da]=Start personlig fildeling hvis aktiveret
Comment[de]=Persönliche Dateifreigabe starten, wenn aktiv
Comment[el]=Εκκίνηση κοινής χρήσης προσωπικών αρχείων, αν είναι ενεργοποιημένη
Comment[en@shaw]=𐑤𐑷𐑯𐑗 𐑐𐑻𐑕𐑩𐑯𐑩𐑤 𐑓𐑲𐑤 𐑖𐑺𐑦𐑙 𐑦𐑓 𐑦𐑯𐑱𐑚𐑩𐑤𐑛
Comment[en_AU]=Launch Personal File Sharing if enabled
Comment[en_GB]=Launch Personal File Sharing if enabled
Comment[es]=Lanzar la compartición de archivos personales si están activadas
Comment[et]=Isiklike failide jagamise avamine, kui see on lubatud
Comment[eu]=Abiarazi fitxategi pertsonalak partekatzea gaituta badago
Comment[fi]=Käynnistä henkilökohtaisten tiedoston jako, jos käytössä
Comment[fr]=Lance le partage de fichiers personnels s'il est activé
Comment[ga]=Tosaigh Comhroinnt Chomhad Pearsanta má chumasaithe
Comment[gl]=Iniciar Compartir ficheiros persoais, se está activado
Comment[gu]=વ્યક્તિગત ફાઇલ વહેંચણીને પ્રકાશિત કરો જો સક્રિય હોય તો
Comment[he]=טעינת שיתוף קבצים אישיים אם פעיל
Comment[hi]=निजी फ़ाइल साझा लॉन्च करें यदि सक्रिय किया गया है
Comment[hu]=Személyes fájlmegosztás indítása, ha engedélyezett
Comment[id]=Luncurkan Berbagi Berkas Pribadi  jika diaktifkan 
Comment[it]=Avvia la condivisione di file personali se abilitata
Comment[ja]=個人的なファイルの共有機能を起動します (可能な場合)
Comment[kn]=ಶಕ್ತಗೊಂಡಿದ್ದಲ್ಲಿ ವೈಯಕ್ತಿಕ ಕಡತ ಹಂಚಿಕೆಯನ್ನು ಆರಂಭಿಸು
Comment[ko]=사용자 공유를 (사용할 경우) 시작합니다
Comment[lt]=Paleisti asmeninių failų viešinimą, jei įjungtas
Comment[lv]=Palaist personiskās failu koplietošanu (ja tā ir ieslēgta)
Comment[ml]=പ്രവര്‍ത്തന സജ്ജമെങ്കില്‍ സ്വകാര്യ ഫയല്‍ പങ്കിടല്‍ ലഭ്യമാക്കുക
Comment[mr]=कार्यक्षम असल्यास व्यक्तिगत फाइल शेअरींग प्रक्षेपीत करा
Comment[ms]=Lacar Perkongsian Fail Peribadi jika dibenarkan
Comment[nb]=Start brukerdeling hvis aktivert
Comment[nl]=‘Persoonlijke bestanden delen’ opstarten indien ingeschakeld
Comment[nn]=Køyr personleg fildeling om slått på
Comment[or]=ଯଦି ସକ୍ରିୟ ଥାଏ ତେବେ ବ୍ୟକ୍ତିଗତ ଫାଇଲ ସହଭାଗକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pa]=ਜੇ ਚਾਲੂ ਹੋਵੇ ਤਾਂ ਨਿੱਜੀ ਫਾਇਲ ਸਾਂਝ ਚਲਾਓ
Comment[pl]=Uruchamia współdzielenie osobistych plików, jeśli włączone
Comment[pt]=Inicia a Partilha de Ficheiros Pessoais, se activa
Comment[pt_BR]=Lança compartilhamento de arquivos pessoais se habilitado
Comment[ro]=La activare, pornește partajarea de fișiere personale
Comment[ru]=Открыть общий доступ к личным файлам, если включено
Comment[sk]=Ak je povolené, spustiť Zdieľanie osobných súborov
Comment[sl]=Zaženi souporabo osebnih datotek, kadar je ta omogočena
Comment[sr]=Покреће дељење личних датотека ако је омогућено
Comment[sr@latin]=Pokreće deljenje ličnih datoteka ako je omogućeno
Comment[sv]=Starta personlig filutdelning om aktiverat
Comment[ta]=செயல் படுத்தி இருந்தால் அந்தரங்க கோப்பு பகிர்தலை  ஆரம்பி 
Comment[te]=చేతనపరిస్తే వ్యక్తిగత ఫైళ్ళ భాగస్వామ్యమును ఆరంభిస్తుంది
Comment[th]=เรียกใช้การแบ่งปันแฟ้มส่วนตัวหากถูกเปิดใช้
Comment[tr]=Eğer etkinse Kişisel Kullanıcı Paylaşımını başlat
Comment[ug]=خۇسۇسىي ھۆججەت ھەمبەھىرى ئىناۋەتلىك بولسا ئىجرا قىلىش
Comment[uk]=Увімкнути спільний доступ, якщо можливо
Comment[ur]=ذاتی فائل شیئرنگ چلائیں اگر فعال ہو
Comment[zh_CN]=如果已启用则启动个人文件共享
Comment[zh_HK]=若啟用則執行個人檔案分享
Comment[zh_TW]=若啟用則執行個人檔案分享
Keywords=share;files;bluetooth;obex;http;network;copy;send;
AutostartCondition=GSettings org.mate.FileSharing enabled
Icon=folder-remote
Exec=/usr/lib/mate-user-share/mate-user-share
Terminal=false
Type=Application
Categories=
OnlyShowIn=MATE;
X-MATE-Autostart-enabled=false
