[Desktop Entry]
Type=Application
Exec=plank
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=Plank
Name=Plank
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
