[Desktop Entry]
Version=1.0
Name[af]=PulseAudio-klankstelsel
Name[as]=PulseAudio শব্দ ব্যৱস্থা
Name[be]=Гукавая сістэма PulseAudio
Name[bn_IN]=PulseAudio শব্দ ব্যবস্থা
Name[ca]=Sistema de so PulseAudio
Name[cs]=Zvukový systém PulseAudio
Name[da]=PulseAudio-lydsystem
Name[de_CH]=PulseAudio Sound System
Name[de]=PulseAudio Soundsystem
Name[el]=Σύστημα ήχου PulseAudio
Name[es]=Sistema de Sonido PulseAudio
Name[fi]=PulseAudio-äänijärjestelmä
Name[fr]=Système de son PulseAudio
Name[gu]=PulseAudio સાઉન્ડ સિસ્ટમ
Name[he]=מערכת הקול PulseAudio
Name[hi]=पल्सऑडियो ध्वनि तंत्र
Name[hu]=PulseAudio hangrendszer
Name[id]=Sistem Suara PulseAudio
Name[it]=Sistema sonoro PulseAudio
Name[ja]=PulseAudio サウンドシステム
Name[kn]=PulseAudio ಧ್ವನಿ ವ್ಯವಸ್ಥೆ
Name[ko]=펄스오디오 사운드 시스템
Name[lt]=PulseAudio garso sistema
Name[ml]=PulseAudio സൌണ്ട് സിസ്റ്റം
Name[mr]=PulseAudio आवाज प्रणाली
Name[nl]=PulseAudio geluidssysteem
Name[nn]=PulseAudio lydsystem
Name[oc]=Sistèma de son PulseAudio
Name[or]=PulseAudio ଧ୍ୱନି ତନ୍ତ୍ର
Name[pa]=ਪਲਸਆਡੀਓ ਸਾਊਂਡ ਸਿਸਟਮ
Name[pl]=System dźwięku PulseAudio
Name[pt_BR]=Sistema de som PulseAudio
Name[pt]=Sistema de Som PulseAudio
Name[ru]=Звуковая система PulseAudio
Name[sk]=Zvukový systém PulseAudio
Name[sr@latin]=PulseAudio zvučni sistem
Name[sr]=PulseAudio звучни систем
Name[sv]=PulseAudio ljudsystem
Name[ta]=பள்ஸ் ஆடியோ ஒலி கணினி
Name[te]=PulseAudio శబ్దపు సిస్టమ్
Name[tr]=PulseAudio Ses Sistemi
Name[uk]=Звукова система PulseAudio
Name[zh_CN]=PulseAudio 声音系统
Name[zh_TW]=PulseAudio 音效系統
Name=PulseAudio Sound System
Comment[af]=Begin die PulseAudio-klankstelsel
Comment[as]=PulseAudio শব্দ ব্যৱস্থা আৰম্ভ কৰা হ'ব
Comment[be]=Запуск гукавой сістэмы PulseAudio
Comment[bn_IN]=PulseAudio শব্দ ব্যবস্থা আরম্ভ করা হবে
Comment[ca]=Inicialitza el sistema de so PulseAudio
Comment[cs]=Spustit zvukový systém PulseAudio
Comment[da]=Start PulseAudio-lydsystemet
Comment[de_CH]=Das PulseAudio Sound System starten
Comment[de]=Das PulseAudio Soundsystem starten
Comment[el]=Έναρξη του συστήματος ήχου PulseAudio
Comment[es]=Iniciar el Sistema de Sonido PulseAudio
Comment[fi]=Käynnistä PulseAudio-äänijärjestelmä
Comment[fr]=Démarrer le système de son PulseAudio
Comment[gu]=PulseAudio સાઉન્ડ સિસ્ટમને શરૂ કરો
Comment[he]=התחל את מערכת הקול PulseAudio
Comment[hi]=पल्सऑडियो ध्वनि तंत्र प्रारंभ करें
Comment[hu]=A PulseAudio hangrendszer elindítása
Comment[id]=Memulai Sistem Suara PulseAudio
Comment[it]=Avvia il sistema sonoro PulseAudio
Comment[ja]=PulseAudio サウンドシステムを開始
Comment[kn]=PulseAudio ಧ್ವನಿ ವ್ಯವಸ್ಥೆಯನ್ನು ಆರಂಭಿಸಿ
Comment[ko]=펄스오디오 사운드 시스템을 시작합니다
Comment[lt]=Paleisti PulseAudio garso sistemą
Comment[ml]=PulseAudio സൌണ്ട് സിസ്റ്റം ആരംഭിക്കുക
Comment[mr]=PulseAudio आवाज प्रणाली सुरू करा
Comment[nl]=Start het PulseAudio geluidssysteem
Comment[nn]=Start PulseAudio-lydsystemet
Comment[oc]=Aviar lo sistèma de son PulseAudio
Comment[or]=PulseAudio ଧ୍ୱନି ତନ୍ତ୍ରକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pa]=ਪਲਸਆਡੀਓ ਸਾਊਂਡ ਸਿਸਟਮ ਚਲਾਓ
Comment[pl]=Uruchomienie systemu dźwięku PulseAudio
Comment[pt_BR]=Iniciar o sistema de som PulseAudio
Comment[pt]=Inciar o Sistema de Som PulseAudio
Comment[ru]=Запуск звуковой системы PulseAudio
Comment[sk]=Spustenie zvukového systému PulseAudio
Comment[sr@latin]=Pokreni PulseAudio zvučni sistem
Comment[sr]=Покрени PulseAudio звучни систем
Comment[sv]=Starta ljudsystemet PulseAudio
Comment[ta]=பள்ஸ் ஆடியோ ஒலி கணினியை துவக்கவும
Comment[te]=PulseAudio శబ్దపు సిస్టమ్‌ను ప్రారంభించుము
Comment[tr]=PulseAudio Ses Sistemini Başlat
Comment[uk]=Запустити звукову систему PulseAudio
Comment[zh_CN]=启动 PulseAudio 声音系统
Comment[zh_TW]=啟動 PulseAudio 音效系統
Comment=Start the PulseAudio Sound System
Exec=start-pulseaudio-x11
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
X-MATE-Autostart-enabled=false
