[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=system-file-manager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/file;x-scheme-handler/trash;
Name=File Manager
Name[it]=Gestore dei file
Comment=Browse the file system
Comment[it]=Sfoglia il file system
X-XFCE-Source=file:///usr/share/applications/exo-file-manager.desktop
