#!/usr/bin/env xdg-open
[Desktop Entry]
Name[am]=ፕሉማ
Name[ar]=قلم
Name[ast]=Pluma
Name[be]=Pluma
Name[bg]=Текстов редактор - Pluma
Name[br]=Pluma
Name[bs]=Pluma
Name[ca]=Pluma
Name[ca@valencia]=Pluma
Name[cmn]=Pluma
Name[cs]=Pluma
Name[cy]=Pluma
Name[da]=Pluma
Name[de]=Pluma
Name[el]=Pluma
Name[en_AU]=Pluma
Name[en_GB]=Pluma
Name[es]=Pluma
Name[es_AR]=Pluma
Name[es_MX]=Pluma
Name[et]=Pluma
Name[eu]=Pluma
Name[fi]=Pluma
Name[fr]=Pluma
Name[gl]=Pluma
Name[he]=עורך הטקסט Pluma
Name[hr]=Pluma
Name[hu]=Pluma
Name[hy]=Pluma
Name[id]=Pluma
Name[ie]=Pluma
Name[is]=Pluma
Name[it]=Pluma
Name[ja]=Pluma
Name[kk]=Pluma
Name[kn]=Pluma
Name[ko]=플루마
Name[ky]=Pluma
Name[lt]=Pluma
Name[lv]=Pluma
Name[mr]=प्लुमा
Name[ms]=Pluma
Name[nb]=Pluma
Name[nds]=Pluma
Name[nl]=Pluma
Name[pl]=Pluma
Name[pms]=Pluma
Name[pt]=Pluma
Name[pt_BR]=Pluma
Name[ro]=Pluma
Name[ru]=Pluma
Name[sk]=Pluma
Name[sl]=Pluma
Name[sq]=Pluma
Name[sr]=Плума
Name[sv]=Pluma
Name[th]=Pluma
Name[tr]=Pluma
Name[uk]=Pluma
Name[ur]=پلوما
Name[uz]=Pluma
Name[zh_CN]=Pluma
Name[zh_HK]=Pluma
Name[zh_TW]=Pluma
Name=Pluma
GenericName[af]=Teksredigeerder
GenericName[am]=ጽሁፍ ማረሚያ
GenericName[ar]=مُحرّر نصوص
GenericName[as]=টেক্সট এডিটার
GenericName[ast]=Editor de testu
GenericName[az]=Mətn Editoru
GenericName[be]=Тэкставы рэдактар
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক 
GenericName[bn_IN]=টেক্সট সম্পাদন ব্যবস্থা
GenericName[br]=Embanner testennioù
GenericName[bs]=Editor teksta
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[cmn]=文字編輯器
GenericName[crh]=Metin Muarriri
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd testun
GenericName[da]=Tekstredigeringsprogram
GenericName[de]=Textbearbeitung
GenericName[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_AU]=Text Editor
GenericName[en_CA]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta Redaktilo
GenericName[es]=Editor de textos
GenericName[es_AR]=Editor de Texto
GenericName[es_MX]=Editor de Texto
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de texto
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Tekstualni uređivač
GenericName[hu]=Szövegszerkesztő
GenericName[hy]=Տեքստային խմբագրիչ
GenericName[id]=Penyunting Teks
GenericName[ie]=Redactor de textus
GenericName[is]=Textaritill
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディター
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kk]=Мәтін түзетушісі
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtora Nivîsê
GenericName[ku_IQ]=دەستکاریکەری دەق
GenericName[ky]=Текст редактору
GenericName[la]=Scripta Edere
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mg]=Fanovana lahabolana
GenericName[mk]=Уредувач за текст
GenericName[ml]=എഴുത്തിടം
GenericName[mn]=Текст боловсруулагч
GenericName[mr]=मजकूर संपादक
GenericName[ms]=Penyunting Teks
GenericName[nb]=Tekstredigerer
GenericName[nds]=Textbewarker
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Tekstbewerker
GenericName[nn]=Tekstredigering
GenericName[nso]=Morulaganyi wa Sengwalwa
GenericName[oc]=Editor de tèxte
GenericName[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[ps]=ليک سمونګر
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de textos
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Editues teksti
GenericName[sr]=Уређивач текста
GenericName[sr@latin]=Urednik teksta
GenericName[sv]=Textredigerare
GenericName[ta]=உரை தொகுப்பி
GenericName[te]=పాఠ్యము సరికూర్పరి
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tk]=Metin Editçi
GenericName[tr]=Metin Düzenleyici
GenericName[ug]=تېكىست تەھرىرلىگۈچ
GenericName[uk]=Текстовий редактор
GenericName[ur]=متن مدون
GenericName[uz]=Matn Tahrirchi
GenericName[vi]=Bộ soạn thảo văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli woMbhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文字編輯器
GenericName[zh_TW]=文字編輯器
GenericName[zu]=Uhele wetekisi
GenericName=Text Editor
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሁፍ ፋይሎች ማረሚያ
Comment[ar]=تحرير الملفات النّصية
Comment[as]=টেক্সট নথিপত্ৰ সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Рэдагаваць тэкставыя файлы
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[cmn]=編輯文字檔
Comment[crh]=Metin dosyelerini tarir et
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Rediger tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་ 
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_AU]=Edit text files
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Edite archivos de texto
Comment[es_MX]=Editar archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=עריכת קובצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[hy]=Խմբագրել տեքստային ֆայլերը
Comment[id]=Edit berkas teks
Comment[ie]=Redacter files textual
Comment[is]=Sýsla með textaskrár
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kk]=Мәтіндік файлдарды түзету
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[ku_IQ]=دەستکاریکردنی دەقە پەڕگەکان
Comment[ky]=Текст файлдарын оңдоо
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Sunting fail teks
Comment[nb]=Rediger tekstfiler
Comment[nds]=Textdateien bewarken
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[pms]=Modifica file ‘d test
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editați fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje besedilnih datotek
Comment[sq]=Ndrysho file teksti
Comment[sr]=Уређујте текстуалне документе
Comment[sr@latin]=Uređivač tekstualnih dokumenata
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[te]=పాఠ్య దస్త్రములను సరిచేయి
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[ur]=متن فائلیں مدون کریں
Comment[uz]=Matnli fayllarni tahrirlash
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Comment=Edit text files
Exec=pluma %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=accessories-text-editor
Icon[cs]=accessories-text-editor
Icon[da]=accessories-text-editor
Icon[es]=accessories-text-editor
Icon[gl]=accessories-text-editor
Icon[it]=accessories-text-editor
Icon[ms]=accessories-text-editor
Icon[nb]=accessories-text-editor
Icon[nl]=accessories-text-editor
Icon[zh_TW]=accessories-text-editor
Icon=application-ascii
Categories=GTK;Utility;TextEditor;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=text;editor;MATE;tabulacions;ressaltat;codi;múltiple;fitxers;connectors;
Keywords[cs]=text;textový;editor;MATE;karty;zvýraznění;kód;více;soubory;souborů;zásuvné;zásuvný;
Keywords[da]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;filer;
Keywords[es]=texto;editor;MATE;pestañas;resaltado;código;múltiples;archivos;complementos;
Keywords[gl]=texto;editor;MATE;tabulacións;destaques;código;múltiple;ficheiros;extensíbel;
Keywords[it]=testo;blocco;note;MATE;schede;evidenzia;programmazione;codice;multipli;file;
Keywords[ms]=teks;penyunting;MATE;tab;penyorotan;kod;berbilang;fail;boleh palam;
Keywords[nb]=tekst;editor;MATE;faner;utheving;kode;flere;filer;programtillegg;
Keywords[nl]=tekst;bewerker;MATE;tabs;accentuering;code;meerdere;bestanden;invoegsels;
Keywords[zh_TW]=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
Keywords=text;editor;MATE;tabs;highlighting;code;multiple;files;pluggable;
X-MATE-DocPath=pluma/pluma.xml
X-MATE-FullName=Pluma Text Editor
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=Pluma
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.24.0
X-MATE-Bugzilla-ExtraInfoScript=/usr/lib/pluma/pluma-bugreport.sh
Icon[en_US]=application-ascii
